# Cron job to git clone/pull a repo and then run locally
* * * * * ansible-pull -d /Users/magnusducatuslt/spatium/ansible-pull -U git@bitbucket.org:caspiantechnologies/ansible-pull.git >>/Users/magnusducatuslt/spatium/ansible-pull 2>&1